<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Enregistrer une nouvel note</h2>
      <form [formGroup]="noteForm" (ngSubmit)="onSaveNote()">
        <div class="form-group">
          <label for="nomEleve">nom de l'élève</label>
          <input type="text" id="nomEleve"
                 class="form-control" formControlName="nomEleve">
        </div>
        <div class="form-group">
            <label for="matieres">Matière</label>
            <input type="text" id="matieres"
                   class="form-control" formControlName="matieres">
        </div>
        <div class="form-group">
          <label for="note">Note</label>
          <input type="text" id="note"
                 class="form-control" formControlName="note">
        </div>
        <button class="btn btn-success" [disabled]="noteForm.invalid"
                type="submit">Enregistrer
        </button>
  
      </form>
    </div>
  </div>